<VirtualHost *:80>
    ServerName {{ SANDBOX_HOST_DOMAIN }}
    ServerAlias *

    ProxyPass        / http://localhost:8000/ retry=0
    ProxyPassReverse / http://localhost:8000/ retry=0

    {% if USE_HTPASSWD %}
    <Proxy *>
        Order deny,allow
        Allow from all
        Authtype Basic
        Authname "Password Required"
        AuthUserFile /etc/apache2/.htpasswd
        Require valid-user
    </Proxy>
    {% endif %}
</VirtualHost>
